.title {
    text-align: center;
    position: relative;
    font-size: 3rem;
    margin-top: 5rem;    
}

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto; 
    position: relative;   
}

@media (min-width: 768px) {
    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 4rem;
        margin-top: 5rem;
    }
}